<mat-sidenav mode="side" opened>
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured">
      <mat-icon mat-list-icon>home</mat-icon>
      <label>Inicio</label>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/view-videos">
      <mat-icon mat-list-icon>History</mat-icon>
      <label>Mais vistos</label>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/channels">
      <mat-icon mat-list-icon>Channel</mat-icon>
      <label>Inscricoes</label>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
