<mat-toolbar color="primary" aria-label="primary color">
  <mat-toolbar-row>
    <span>Video</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/insert-video" aria-label="Example icon-button with heart icon">
      <mat-icon>video_call</mat-icon>
    </button>
    <button mat-icon-button class="example-icon"  routerLink="/insert-user" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div>
        <mat-icon >logout
        </mat-icon>
        <span>  Sair</span>
      </div>

    </mat-menu>
    <ng-template #noAuth>
      <button mat-raised-button>Login</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
